body {
	font-family:sans-serif;
}
ul {
	clear:both;
	padding:0;
	margin:0;
	list-style:none;
}
#controls {
	width:600px;
	margin:10px auto;
}
#dots {
	width: 600px;
	margin:10px auto;
	clear:both;
	position:relative;
}
#dots li {
	float:left;
	text-align:center;
	margin-top:35px;
}
span.shortTitle, span.year {
	position:absolute;
	top:0;
	background:white;
	
}
span.shortTitle {
	z-index:5;
	padding:5px;
	border:1px solid #CDD9E7;
	color:#193A55;
	text-transform:uppercase;
}
span.year {
	z-index:4;
	padding:7px;
	color:#54A5DA;
}
#entries {
	width:600px;
	margin:25px auto;
	padding:20px;
	text-align:center;
	clear:both;
}
#entries div div{
	padding:25px 20px;
	border:1px solid #999;
	width:500px;

}
.left {
	float:left;
}
.right {
	float:right;
}
#grey-bar {
	width: 100%;
	height: 5px;
	background: #E9E9E9;
	position: absolute;
	top: 89px;
}
