body {
	font-family:sans-serif;
	width: 940px;
	margin:0 auto;
}
ul {
	clear:both;
	padding:0;
	margin:0;
	list-style:none;
}
h4 {
	text-transform:uppercase;
}
#timeline {
	width:100%;
	
	overflow:hidden;
}
#controls {
	width:600px;
	margin:10px auto;
}
#dots {
	margin:10px auto;
	clear:both;
	position:relative;
}
#dots li {
	background:url(./assets/dot-line.gif) repeat-x;
}
#dots li {
	float:left;
	text-align:center;
	margin-top:35px;
}
#dots li:hover div {
	background:#CDD9E7;
}
#dots li div {
	width:22px;
	height:22px;
	border:3px solid white;
	border-radius: 13px;
	background:#E9E9E9;
}
#dots li.showing div {
	background:#54A5DA;
}
#dots li:first-child div {
	margin-left:0;
}
span.shortTitle, span.year {
	position:absolute;
	top:-35px;
	background:white;
	
}
span.shortTitle {
	z-index:5;
	padding:5px;
	border:1px solid #CDD9E7;
	color:#193A55;
	text-transform:uppercase;
	width:500px;
}
.left, .right {
	position:relative;

}
.left span.shortTitle {
	color:red;
	text-align:left;
}
.right span.shortTitle {
	color:blue;
	text-align:right;
	float:right;
	right:10px;
}
span.year {
	z-index:4;
	padding:7px;
	color:#54A5DA;
}
#entries {
	padding-top:20px;
	clear:both;
}
#entries div div{
	padding:25px 20px;
	border:1px solid #54A5DA;
	width:840px;
	display:none;
	color: #666666;
}
#entries div.showing div{
	display:block;
}
img.event-image {
	float:left;
	margin:0 20px 20px 0;
	max-width:50%;
}
.left {
	float:left;
}
.right {
	float:right;
}
#grey-bar {
	width: 930px;
	height: 5px;
	background: #E9E9E9;
	position: absolute;
	top: 274px;
}
div.event-nav {
	width:940px;
	margin:10px auto;
}
a.prev-event, a.next-event {
	cursor:pointer;
	color:#aaa;
}
a.prev-event:hover, a.next-event:hover {
	color:#54A5DA;
}
div.event-nav a.prev-event {
	float:left;
}
div.event-nav a.next-event {
	float:right;
}
