body {
	font-family:sans-serif;
}
ul {
	clear:both;
	padding:0;
	margin:0;
	list-style:none;
}
#dots {
	
}
#dots li {
	float:left;
	text-align:center;
}
#entries {
	width:600px;
	margin:25px auto;
	padding:20px;
	border:1px solid #999;
	text-align:center;
}
#entries li {
	padding:25px;
}